/* LOGO */
.main-logo {
  height: 1em;
  display: block;
}
.pro {
  color: var(--white);
  font-weight: 600;
  display: inline-block;
  margin-bottom: 0;
}



/* GLITCHY LOGO!!! */
.svg-filters {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
  display: inline;
  height: 0;
  width: 0;
}
.glitch-btn {
  position: relative;
  border-bottom: none !important;
  display: inline-block;
  -webkit-backface-visibility: hidden;
}
  .glitch {
    display: inline-block;
  }
.glitch-btn:hover .glitch {
  color: var(--white);
  position: relative;
  margin: 0 auto;
}
.glitch-btn:hover .super-glitch {
  animation: jiggle 0.813s linear;
}
.glitch-btn:hover ::before,
.glitch-btn:hover ::after {
  content: attr(data-text);
  color: var(--white);
  font-weight: 600;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  animation: jiggle 0.813s linear;
}
.glitch-btn:hover .glitch::before {
  left: -2px;
  text-shadow: -0.0813em 0 1px var(--red), 0.0138em -0.0313em 2px chartreuse;
}
.glitch-btn:hover .glitch::after {
  left: -2px;
  text-shadow: 0.0813em 0.0419em 1px darkblue;
}

@keyframes jiggle {
  0% {
    outline: 90px solid transparent !important;
	  filter: url(#filter);
  }
  100% {  }
}
@keyframes glitch-anim-1 {
  0% { clip: rect(48px, 9999px, 36px, 0); }
  10% { clip: rect(9px, 9999px, 32px, 0); }
  20% { clip: rect(40px, 9999px, 43px, 0); }
  30% { clip: rect(19px, 9999px, 11px, 0); }
  40% { clip: rect(70px, 9999px, 52px, 0); }
  50% { clip: rect(22px, 9999px, 2px, 0); }
  60% { clip: rect(39px, 9999px, 30px, 0); }
  70% { clip: rect(32px, 9999px, 96px, 0); }
  80% { clip: rect(15px, 9999px, 94px, 0); }
  90% { clip: rect(83px, 9999px, 68px, 0); }
  100% { clip: rect(59px, 9999px, 21px, 0); }
}
@keyframes glitch-anim-2 {
  0% { clip: rect(82px, 9999px, 71px, 0); }
  10% { clip: rect(10px, 9999px, 31px, 0); }
  20% { clip: rect(25px, 9999px, 31px, 0); }
  30% { clip: rect(9px, 9999px, 43px, 0); }
  40% { clip: rect(65px, 9999px, 85px, 0); }
  50% { clip: rect(78px, 9999px, 43px, 0); }
  60% { clip: rect(18px, 9999px, 99px, 0); }
  70% { clip: rect(88px, 9999px, 90px, 0); }
  80% { clip: rect(54px, 9999px, 16px, 0); }
  90% { clip: rect(44px, 9999px, 91px, 0); }
  100% { clip: rect(24px, 9999px, 90px, 0); }
}
