/* Arrows */
.slick-prev,
.slick-next
{
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 50%;
  display: block;
  width: 20px;
  height: 20px;
  padding: 0;
  z-index: -1;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: transparent;
  border: none;
  outline: none;
  background: transparent;
}
  @media screen and (min-width: 1200px) {
    .slick-prev, .slick-next {
      z-index: 2;
    }
  }
.slick-prev, .slick-next {
  text-indent: -1000em;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus
{
  color: transparent;
  outline: none;
  background: transparent;
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before
{
  opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before
{
  opacity: .25;
}
.slick-prev
{
  width: 50%;
  height: 100%;
  left: 0;
  cursor: url('../img/arrow-left-large.png'), auto !important;
}
.slick-next
{
  width: 50%;
  height: 100%;
  left: 50%;
  cursor: url('../img/arrow-right-large.png'), auto !important;
}

/* Dots */
.slick-dotted.slick-slider
{
  margin-bottom: 30px;
}

.slick-dots
{
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0 0 1.5em 1em;
  list-style: none;
  text-align: left;
  z-index: 3;
}
.slick-dots li
{
  position: relative;
  display: inline-block;
  width: 30px;
  height: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}
.slick-dots li button
{
  font-size: 0;
  line-height: 0;
  display: block;
  width: 30px;
  height: 3px;
  padding: 0;
  cursor: pointer;
  color: transparent;
  border: 0;
  background: rgba(255, 255, 255, 0.25);
  outline: none;
}
.slick-dots li button:hover,
.slick-dots li button:focus
{
  outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
  opacity: 1;
}
.slider .item, .slider .item * {
  outline: none;
}
